@using Day6MvcApp.Models;

@model System.Collections.Generic.IEnumerable<User>

<table width="50%">
    @foreach (var user in Model)
    {
        <tr>
            <td align="center">@user.UserName</td>
            <td align="center">@user.Password</td>
        </tr>
    }
</table>
