@model MVC_Assignment4.Models.Account

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("CreateAccount", "Home"))
{
    <p>
        Account Number: @Html.TextBoxFor(a => a.AccountNumber)
    </p>

    <p>
        Name: @Html.TextBoxFor(a => a.Name)
    </p>

    <p>
        Current Balance: @Html.TextBoxFor(a => a.CurrentBalance)
    </p>

    <input type="submit" value="Create Account" />
}
