
@{
    ViewBag.Title = "Login";
}

@Html.Partial("MenuWidget")

<h2>Login</h2>

<br>
<br>

<h1>This view was rendered at: @DateTime.Now.ToString()</h1>

<br>
<br>

<h2>
    Date & Time in Loop <h2>

        @{
            for (int i = 1; i <= 5; i++)
            {
                <h2>Iteration: @i, Current Date and Time is: @DateTime.Now.ToString()</h2>
            }
        }


